

main {
    .imagen-studio img{
        margin: 2opx;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
    }

    .nosotros {
        display: flex;
        justify-content: center;
        align-items: center;
        @include box-theme;
        background-color: #07101375;
        color:$color-claro;
        margin:20px;
        padding: 20px;
    }

    .nosotros p{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        max-width: 500px;
    }
    
    
    .titulos {
        @include box-theme;
        margin: 20px;
        padding: 20px;
        background-color: #071013a3;
        color: $color-claro;
    }

    .ubicacion {
        color: $color-claro;
    }
    
    .grid-container {
        margin: auto;
        background-color: rgba(0, 0, 0, 0.594);
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px 8%;
    }
    .gallery{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap:30px;
    }
    .gallery img{
        width: 100%;
    }
    .grid-container div :hover {
       @include grid-hover;
       @include box-theme;
    }




    .boton-arriba :hover {
        @include btn-hover;
        background-color: rgba(0, 255, 255, 0.322);
        border:5px solid #0710136d;
    }

    .boton {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #071013;
        color: $color-claro !important;
        width: auto;
        height: auto;
        padding: 20px;
        margin: 30px;
        border-radius: 5px;

    }
    

}

