.card :hover{
    @include btn-hover;
}

.card{
    @include box-theme;
}
.carousel-caption{
    background-color: rgba(0, 0, 0, 0.5);
    size: auto;
    }
.carousel-caption h5{
    font-size: 40px;
}




     
