main{
    .mapa {
        margin: 20px;
        padding: 15px;
        background-color: #071013ab;
        display: flex;
        align-items: center center;
        justify-content: center;
        padding: 15px;
    }
}