@mixin btn-hover{
    color: $color-claro;
    transform: scale(1.05) !important;
    transition: 0.3s !important;
    }

@mixin grid-hover{
    transform: scale(1.05) !important;
    transition: 0.3s;
}

@mixin box-theme {
    border-radius: 5px;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.632);
}