@mixin btn-hover{
    color: $color-claro;
    transform: scale(1.05) !important;
    transition: 0.3s !important;
    }

@mixin grid-hover{
    transform: scale(1.05) !important;
    transition: 0.3s;
}

@mixin box-theme {
    border-radius: 5px;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.632);
}

@mixin titulos {
    background-image: linear-gradient(135deg,
            #f2dbdb, #c4c4ee, #90aadd, #8181e5,
            rgba(117, 33, 102, 0.53), #985bbc, #d079cb, #e6b9d0);
    background-size: 500%;
    animation: fanimado 12s infinite;
    background-color: #2f3b3f;
    margin: 0;

    @keyframes fanimado {
        0% {
            background-position: 0% 50%;
        }
    
        50% {
            background-position: 100% 50%;
        }
    
        100% {
            background-position: 0% 50%;
        }
    }
}